.iron-bank-logo {
    height: 60px;
    margin-top: -10px;
}

iron-bank-logo:hover {
    margin-top: -19px;
}

.nav-tabs > li > a.a-nav-logo-item:hover{
    border-color: transparent;
}

.nav > li > a.a-nav-logo-item:hover, .nav > li > a.a-nav-logo-item:focus {
    background-color: transparent;
}

.auth-sign-in-marker {
    color: #86949f;
    position: absolute;
    top: 7px;
}

.auth-sign-in-input {
    padding-left: 20px;
}

.auth-form-group {
    position: relative;
}

md-datepicker#passportExpiresDateInput {
    margin-left: -12px;
}

md-datepicker#passportExpiresDateInput .md-datepicker-input-container {
    width: 88%;
}


md-datepicker#passportExpiresDateInput .md-datepicker-input-container .md-datepicker-input {
    width: 100%;
}

.credit-card-list {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
}

.authenticated-body {
    padding: 75px 0 0;
}

.authenticated-navbar {
    height: 80px;
    z-index: 3;
}

.notification-rule {
    color: darkred;
    font-size: 16px;
    cursor: default;
}

.notification-rule:hover {
    color: red;
}
