<div ng-app="jupiter.auth" ng-controller="PasswordResetController as ctrl">
  <div class="container row-offset-4">
    <div class="row col-md-6 col-md-offset-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">Восстановление пароля</h4>
        </div>

        <div class="panel-body">
          <form ng-submit="ctrl.passwordReset()">

            <div class="form-group">
              <label for="emailInput">Почта</label>
              <input id="emailInput"
                     class="form-control"
                     type="email"
                     ng-model="ctrl.reset_data.email"
                     placeholder="Почта">
            </div>

            <div class="row-offset-0">
              <button type="submit"
                      class="form-control btn btn-success button"
                      ng-if="!ctrl.processing">
                 <span class="glyphicon glyphicon-ok"></span>
                 Далее
              </button>

              <div class="loader-small"
                   ng-if="ctrl.processing">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<div>