<div ng-app="jupiter.auth" ng-controller="PasswordResetController as ctrl">

    <div class="container">
        <div class="row justify-content-md-center" style="margin-top: 80px;">
            <div class="col-sm-5 ">
                <h3 style="text-align: center; margin-bottom: 30px;">Подтверждение сброса пароля</h3>
                <form ng-submit="ctrl.passwordResetConfirm()">
                    <div class="alert alert-success"
                         role="alert"
                         ng-if="ctrl.success">
                        <b>{{ctrl.success}}</b>
                    </div>

                    <div class="form-group">
                        <input id="keyInput"
                               class="form-control"
                               type="password"
                               ng-model="ctrl.confirm_data.key"
                               placeholder="ключ">
                    </div>

                    <div class="form-group">
                        <input id="newPasswordInput"
                               class="form-control"
                               type="password"
                               ng-model="ctrl.confirm_data.new_password"
                               placeholder="новый пароль">
                    </div>

                    <div class="form-group">
                        <input id="newPasswordConfirmInput"
                               class="form-control"
                               type="password"
                               ng-model="ctrl.confirm_data.new_password_confirm"
                               placeholder="новый пароль">
                    </div>

                    <div class="row justify-content-md-center" ng-if="ctrl.processing">
                        <div>
                            <md-progress-circular md-mode="indeterminate" md-diameter="20px"></md-progress-circular>
                        </div>
                    </div>
                    <div ng-if="!ctrl.processing" class="row justify-content-md-center">
                        <button type="submit" class=" btn btn-primary">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            далее
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>