<div ng-app="jupiter.auth" ng-controller="SignInController as ctrl">


<div class="container">
  <div class="row justify-content-md-center" style="margin-top: 150px;">
    <div class="col-sm-5 ">
      <form ng-submit="ctrl.signIn()">

        <div class="form-group auth-form-group">
          <i class="fa fa-user  auth-sign-in-marker" aria-hidden="true"></i>
          <input type="tesxt" class="form-control auth-sign-in-input" id="usernameInput" placeholder="username" ng-model="ctrl.credentials.username">
        </div>

        <div class="form-group auth-form-group">
          <i class="fa fa-lock auth-sign-in-marker" aria-hidden="true"></i>
          <input type="password" class="form-control auth-sign-in-input" id="passwordInput" ng-model="ctrl.credentials.password"
                 placeholder="password">
        </div>
        <div class="d-flex justify-content-between">
           <button type="submit" class="btn btn-primary">sig-in</button>
           <a href="/password-reset/" ><button type="button" class="btn btn-warning">reset password</button></a>
        </div>
      </form>
    </div>
  </div>
</div>



  <!--<div class="container row-offset-4">-->
    <!--<div class="row col-md-6  col-md-offset-3">-->
      <!--<div class="panel panel-info">-->
        <!--<div class="panel-heading">-->
          <!--<h4 class="panel-title">Вход</h4>-->
        <!--</div>-->
        <!--<div class="panel-body">-->
          <!--<form ng-submit="ctrl.signIn()">-->
            <!--<div class="form-group">-->
              <!--<label for="usernameInput">Имя пользователя</label>-->
              <!--<input id="usernameInput-x"-->
                     <!--class="form-control"-->
                     <!--type="text"-->
                     <!--ng-model="ctrl.credentials.username"-->
                     <!--placeholder="Имя пользователя">-->
            <!--</div>-->

            <!--<div class="form-group">-->
              <!--<label for="passwordInput">Пароль</label>-->
              <!--<input id="passwordInput-x"-->
                     <!--class="form-control"-->
                     <!--type="password"-->
                     <!--ng-model="ctrl.credentials.password"-->
                     <!--placeholder="Пароль">-->
            <!--</div>-->

            <!--<div class="row-offset-0">-->
              <!--<button type="submit"-->
                      <!--class="form-control btn btn-info button">-->
                <!--<span class='glyphicon glyphicon-log-in'></span>-->
                 <!--Войти-->
              <!--</button>-->
            <!--</div>-->
            <!--<a class="row-offset-0 btn btn-warning form-control"-->
               <!--href="/password-reset/">-->
              <!--<span class="glyphicon glyphicon-wrench"></span>-->
              <!--Востановление пароля-->
            <!--</a>-->
          <!--</form>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->


<div>