<div ng-controller="AccountsController as ctrl"
     ng-init="ctrl.getAccounts()">
  <div>
    <div class="row-offset-0">
      <h1>Счета</h1>

      <div class="row justify-content-md-center"
           ng-if="user.isClient()">
        <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">
                Управление счетами
            </h4>
          </div>

          <div class="card-body">
            <form ng-submit="ctrl.assignAccount()">
              <div class="row justify-content-md-center">

                <div class="form-group col-md-6">
                  <!--<label for="accountInput">Номер счета</label>-->
                  <input id="accountInput"
                         class="form-control"
                         type="text"
                         ng-model="ctrl.account_data.account_number"
                         placeholder="Номер счета">
                </div>
              </div>
              <div class="row justify-content-md-center">
                <div class="col-md-4">
                  <button type="submit"
                          class="form-control btn">
                    Привязать счет
                  </button>
                </div>
              </div>

              <div class="row row-offset-0 justify-content-md-center">
                <div class="col-md-8">
                  <h5 class="text-center">
                    <a href="#"
                       ng-click="ctrl.createRequest()"
                       class="link">
                      Оставить заявку на открытие счета
                    </a>
                  </h5>
                </div>
              </div>
            </form>
          </div>
        </div>
        </div>
      </div>

      <div ng-if="!ctrl.data">
        <div class="loader"></div>
      </div>

      <table class="row-offset-0 table table-hover"
             ng-if="ctrl.data">
        <thead>
          <tr class="info">
            <th width="14%" ng-if="user.isAdmin()">Профайл Клента</th>
            <th width="14%" ng-if="user.isAdmin()">Имя Клента</th>
            <th width="20%">Номер Счета</th>
            <th width="15%">Остаток</th>
            <th width="12%">Статус</th>
            <th width="10%"></th>
          </tr>

          <tr>
            <th ng-if="user.isAdmin()"></th>
            <th ng-if="user.isAdmin()">
              <input type="text"
                     class="form-control form-control-small"
                     ng-model="ctrl.filterParams.name"
                     ng-keypress="ctrl.updateFilterParams($event.keyCode)">
            </th>
            <th>
              <input type="text"
                     class="form-control form-control-small"
                     ng-model="ctrl.filterParams.number"
                     ng-keypress="ctrl.updateFilterParams($event.keyCode)">
            </th>
            <th>
              <input type="text"
                     class="form-control form-control-small"
                     ng-model="ctrl.filterParams.residue"
                     ng-keypress="ctrl.updateFilterParams($event.keyCode)">
            </th>
            <th>
              <div class="dropdown">
                <select class="form-control form-control-small"
                        ng-model="ctrl.filterParams.status">
                  <option></option>
                  <option ng-if="user.isAdmin()"
                          ng-repeat="(code, status) in ctrl.accountStatuses"
                          value="{{code}}">
                    {{status}}
                  </option>
                  <option ng-if="user.isClient()"
                          ng-repeat="(code, status) in ctrl.clientAccountStatuses"
                          value="{{code}}">
                    {{status}}
                  </option>
                </select>
              </div>
            </th>
            <th>
              <button class="btn" ng-click="ctrl.updateFilterParams(13)">
                Filter
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </th>
          </tr>
        </thead>

        <tr ng-repeat="account in ctrl.data">
          <td ng-if="user.isAdmin()"
              class="text-center">
            <a class="link"
               href="/clients/{{account.client.id}}/">
              <i class="fa fa-address-card-o" aria-hidden="true"></i>
            </a>
          </td>
          <td ng-if="user.isAdmin()"
              class="text-center">
            {{account.client.first_name}}
          </td>
          <td class="text-center">{{account.number}}</td>
          <td class="text-center">{{account.residue}}</td>
          <td class="text-center">{{ctrl.accountStatuses[account.status]}}</td>
          <td class="text-center">
            <div ng-if="user.isClient()">
              <a ng-click="ctrl.unassignAccount(account.id)"
                 ng-disabled="account.status != 0"
                 ng-if="account.status != 4"
                 class="text-small btn">
                Закрыть счет
              </a>
              <a ng-click="ctrl.closeRequest(account.id)"
                 ng-if="account.status == 4"
                 class="text-small btn">
                Отменить заявку
              </a>
            </div>

            <div ng-if="user.isAdmin()">
              <a ng-click="ctrl.confirmCreateRequest(account)"
                 ng-if="account.status == 4 && !account.processing"
                 class="text-small btn">
                Подтвердить
              </a>

              <a ng-click="ctrl.rejectCreateRequest(account)"
                 ng-if="account.status == 4 && !account.processing"
                 class="text-small btn">
                Отклонить
              </a>

              <div class="loader-small"
                   ng-if="account.processing">
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>