<div ng-controller="CreditsController as ctrl"
     ng-init="ctrl.getCredits()">
 <section>
    <h1>Кредиты</h1>
    <hr class="primary">

    <div ng-if="!ctrl.data">
      <div class="loader"></div>
    </div>

    <table class="table table-hover"
           ng-if="ctrl.data">
      <thead>
        <tr class="info">
          <th width="14%" ng-if="user.isAdmin()">Профиль Клиента</th>
          <th width="14%" ng-if="user.isAdmin()">Имя Клиента</th>
          <th width="15%">Остаток</th>
          <th width="15%">План</th>
          <th width="15%">Статус</th>
          <th width="15%"></th>
        </tr>
        <tr>
          <th ng-if="user.isAdmin()"></th>
          <th ng-if="user.isAdmin()">
            <input type="text"
                   class="form-control form-control-small"
                   ng-model="ctrl.filterParams.client_name"
                   ng-keypress="ctrl.updateFilterParams($event.keyCode)">
          </th>
          <th>
            <input type="text"
                   class="form-control form-control-small"
                   ng-model="ctrl.filterParams.residue"
                   ng-keypress="ctrl.updateFilterParams($event.keyCode)">
          </th>
          <th>
            <select class="form-control form-control-small"
                    ng-model="ctrl.filterParams.template"
                    ng-init="ctrl.getCreditTemplates()">
              <option></option>
              <option ng-repeat="template in ctrl.templates"
                      value="{{template.id}}">
                {{template.name}}
              </option>
            </select>
          </th>
          <th>
            <div class="dropdown">
              <select class="form-control form-control-small"
                      ng-model="ctrl.filterParams.status">
                <option></option>
                <option ng-repeat="(code, status) in ctrl.creditStatuses"
                        value="{{code}}">
                  {{status}}
                </option>
              </select>
            </div>
          </th>
          <th>
            <button class="btn" ng-click="ctrl.updateFilterParams(13)">
              Filter
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </th>
        </tr>
      </thead>
      <tr ng-repeat="credit in ctrl.data">
        <td ng-if="user.isAdmin()"
            class="text-center">
          <a class="link"
             href="/clients/{{credit.client.id}}/">
              <i class="fa fa-address-card-o" aria-hidden="true"></i>
          </a>
        </td>
        <td ng-if="user.isAdmin()"
            class="text-center">
          {{credit.client.first_name}}
        </td>
        <td class="text-center">
          {{credit.total}} {{credit.residue_currency}}
        </td>
        <td class="text-center">
          <a class="link"
             href="/credit-templates/{{credit.template.id}}/">
             {{credit.template.name}}
          </a>
        </td>
        <td class="text-center">
          {{ctrl.creditStatuses[credit.status]}}
        </td>
        <td class="text-center">
          <a href="/credits/{{credit.id}}/"
             class="text-small link">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </table>
 </section>
</div>
