<div ng-app="jupiter.admin"
     ng-controller="OverviewController as ctrl"
     ng-init="ctrl.getInfo()">
<section>
  <div ng-if="user.isAdmin()">

    <div class="container">

      <div class="row row-offset-1 justify-content-md-center">
        <div class="col-md-7">

          <div ng-if="!ctrl.statistics.users">
            <div class="loader"></div>
          </div>

          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Пользователи</h4>
              <ul class="list-group"
                ng-if="ctrl.statistics.users">
              <a href="/clients/" class="list-group-item list-group-item-action border">
                Общее количество: {{ctrl.statistics.users.total_count}}
              </a>
              <a ng-repeat="(code, status) in ctrl.userStatuses"
                 href="/clients/?state={{code}}"
                 class="list-group-item list-group-item-action border">
                {{status}}: {{ctrl.statistics.users.states_count[code]}}
              </a>
            </ul>
            </div>
          </div>

        </div>
      </div>

      <div class="row row-offset-1 justify-content-md-center">
        <div class="col-md-7">

          <div ng-if="!ctrl.statistics.users">
            <div class="loader"></div>
          </div>

          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Счета</h4>
              <ul class="list-group"
                  ng-if="ctrl.statistics.accounts">
                <a href="/accounts/" class="list-group-item list-group-item-action border">
                  Общее количество: {{ctrl.statistics.accounts.total_count}}
                </a>
                <a ng-repeat="(code, status) in ctrl.accountStatuses"
                   href="/accounts/?status={{code}}"
                   class="list-group-item list-group-item-action border">
                  {{status}}: {{ctrl.statistics.accounts.states_count[code]}}
                </a>
              </ul>
            </div>
          </div>


        </div>
      </div>

      <div class="row row-offset-1 justify-content-md-center">
        <div class="col-md-7">

          <div ng-if="!ctrl.statistics.users">
            <div class="loader"></div>
          </div>

          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Кредиты</h4>
              <ul class="list-group"
                  ng-if="ctrl.statistics.credits">
                <a href="/credits/" class="list-group-item list-group-item-action border">
                  Общее количество: {{ctrl.statistics.credits.total_count}}
                </a>
                <a ng-repeat="(code, status) in ctrl.creditStatuses"
                   href="/credits/?status={{code}}"
                   class="list-group-item list-group-item-action border">
                  {{status}}: {{ctrl.statistics.credits.states_count[code]}}
                </a>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <div class="row row-offset-1 justify-content-md-center">
        <div class="col-md-7">

          <div ng-if="!ctrl.statistics.users">
            <div class="loader"></div>
          </div>

          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Вклады</h4>
              <ul class="list-group"
                  ng-if="ctrl.statistics.deposits">
                <a href="/deposits/" class="list-group-item list-group-item-action border">
                  Общее количество: {{ctrl.statistics.deposits.total_count}}
                </a>
                <a ng-repeat="(code, status) in ctrl.depositStatuses"
                   href="/deposits/?status={{code}}"
                   class="list-group-item list-group-item-action border">
                  {{status}}: {{ctrl.statistics.deposits.states_count[code]}}
                </a>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
</div>