<div ng-app="jupiter.core"
     ng-controller="HomeController as ctrl">
  <header>
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Кредитование и создание вкладов</div>
        <div class="intro-heading">Жупитер Кредит Систем</div>
        <a href="/sign-in/" class="btn btn-info button header-button">
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
          Авторизация
        </a>
        <a href="/sign-up/" class="btn btn-info button header-button">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          Регистрация
        </a>
      </div>
    </div>
  </header>

  <section id="services" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="section-heading">
            Физическим лицам
            <hr class="primary">
          </h2>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-6">
          <img src="assets/img/credits.icon.png" class="section-image">
          <a href="/credit-templates/" class="section-subheading">Кредитование</a>
          <p class="section-text">
            Самый лучший в мире сервис по оформлению кредитов.
            Низкие проценты и отличные условия.
            Гарантия 100%
          </p>
        </div>

        <div class="col-md-6">
          <img src="assets/img/deposits.icon.png" class="section-image">
          <a href="/deposit-templates/" class="section-subheading">Создание вкладов</a>
          <p class="section-text">
            Лучшие вклады в нашей части галактики.
            Отличные условия и высокие проценты.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="contacts-section" class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h2 class="section-heading">Контакты</h2>
          <p class="section-text">
            Есть вопросы или предложения?
            Звоните, пишите, все что угодно.
            Мы доступны в любое время года из любой точки вселенной
          </p>
        </div>

        <div class="col-sm-4 col-sm-offset-2 text-center">
          <img src="assets/img/phone.icon.png" class="section-image-small">
          <p class="section-text">+375 (29) 4324433</p>
        </div>

        <div class="col-sm-4 text-center">
          <img src="assets/img/email.icon.png" class="section-image-small">
          <p class="section-text">
            <a href="mailto:cat.wants.meow@gmail.com">cat.wants.meow@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
