<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <title>Iron Bank сredit system</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet" href="node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">

  <link rel="stylesheet/less" type="text/css" href="assets/less/main.less"/>

  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/angular-route/angular-route.min.js"></script>
  <script src="node_modules/ngstorage/ngStorage.min.js"></script>
  <script src="node_modules/less/dist/less.js"></script>
  <script src="node_modules/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="node_modules/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <script src="src/core/module.js"></script>
  <script src="src/core/controllers/landing.controller.js"></script>
  <script src="src/core/controllers/base.controller.js"></script>
  <script src="src/core/controllers/main.controller.js"></script>
  <script src="src/core/services/error.service.js"></script>
  <script src="src/core/services/url.service.js"></script>

  <script src="src/auth/module.js"></script>
  <script src="src/auth/services/user.service.js"></script>
  <script src="src/auth/services/auth.service.js"></script>
  <script src="src/auth/controllers/sign-in.controller.js"></script>
  <script src="src/auth/controllers/sign-up.controller.js"></script>
  <script src="src/auth/controllers/password-reset.controller.js"></script>

  <script src="src/public/module.js"></script>
  <script src="src/public/controllers/credit-templates.controller.js"></script>
  <script src="src/public/controllers/credit-apply.controller.js"></script>
  <script src="src/public/controllers/deposit-templates.controller.js"></script>
  <script src="src/public/controllers/deposit-apply.controller.js"></script>

  <script src="src/admin/module.js"></script>
  <script src="src/admin/controllers/overview.controller.js"></script>
  <script src="src/admin/controllers/clients.controller.js"></script>
  <script src="src/admin/controllers/sidebar.controller.js"></script>
  <script src="src/admin/controllers/credits.controller.js"></script>
  <script src="src/admin/controllers/credit-detail.controller.js"></script>
  <script src="src/admin/controllers/deposits.controller.js"></script>
  <script src="src/admin/controllers/deposit-detail.controller.js"></script>
  <script src="src/admin/controllers/transactions.controller.js"></script>
  <script src="src/admin/controllers/accounts.controller.js"></script>
  <script src="src/admin/controllers/finance-settings.controller.js"></script>

  <script src="src/app.config.js"></script>
</head>
<body ng-app="jupiter">
<div ng-controller="BaseController as baseCtrl">
  <div id="page-content">
    <div id="page-top" class="index">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">Iron Bank</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item" ng-if="!user.isAuthenticated()">
                <a href="/deposit-templates/" class="nav-link"> Вклады</a>
              </li>

              <li class="nav-item" ng-if="!user.isAuthenticated()">
                <a href="/credit-templates/" class="nav-link">Кредиты</a>
              </li>
            </ul>
            <form class="form-inline">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item" ng-if="!user.isAuthenticated()">
                  <a href="/sign-in/" class="nav-link">Войти</a>
                </li>

                <li class="nav-item" ng-if="!user.isAuthenticated()">
                  <a href="/sign-up/" class="nav-link">
                    Зарегистрироватся
                  </a>
                </li>

                <li class="nav-item" ng-if="user.isAuthenticated()">
                  <a href="javascript:void(0)" ng-click="auth.signOut()" class="nav-link">
                    Выйти
                  </a>
                </li>
              </ul>
            </form>
          </div>
        </nav>
    </div>

    <div ng-if="user.isAuthenticated()"
         ng-include="'src/admin/views/sidebar.view.html'">
    </div>

    <div class="alert alert-danger errors-alert"
         role="alert"
         ng-if="error.errors">
      <a ng-click="error.hideAlert()" class="link">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
      <div ng-repeat="(field, message) in error.errors">
        <b>{{field}}:</b> {{message}}
      </div>
    </div>

    <div class="alert alert-success errors-alert"
         role="alert"
         ng-if="error.success">
      <a ng-click="error.hideAlert()" class="link">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
      <b>{{error.success}}</b>
    </div>

    <div ng-view
         ng-class="user.isAuthenticated() ? 'admin-container' : ''">
    </div>
  </div>
</div>
</body>
</html>
